################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Slab_Solver/.vs/Slab_Solver/v15/Browse.VC.db
/Slab_Solver/.vs/Slab_Solver/v15/Browse.VC.opendb
